[user]
	name = Tony Xiao
	email = tonyx.ca@gmail.com
[core]
	excludesfile = /Users/tony/.gitignore_global
[alias]
	st = status
	com = commit
	co = checkout
	br = branch
	glog = log --graph --full-history --all --color --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s\"
	ls-ignored = ls-files -o -i --exclude-standard
	ls-assumed = !git ls-files -v | grep ^[a-z]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ => \\2/' | sort
	ignore = !sh -c '([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore' ''
	assume = !git update-index --assume-unchanged $1
	unassume = !git update-index --no-assume-unchanged $1
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[mergetool]
	prompt = false
